{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
    <style>
        body { background: #e8f1f9; }
    </style>
{% endblock %}


{% block title %}
Mutuals for 2 farcaster users
{% endblock %}


{% block content %}


<div class="container">
<img src = "https://searchcaster.xyz/_next/image?url=%2Fimg%2Flogo.png&w=48&q=75">
<h1>Farcaster Mutuals</h1></div>
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <!-- <h1 class="pt-5 pb-2">Mutuals for farcaster</h1>
      <img src="https://searchcaster.xyz/_next/image?url=%2Fimg%2Flogo.png&w=48&q=75">
 -->
      <p class="lead">2 farcaster names</p>

    <ul>
      <li>Mutuals find mutuals between user1 and user2. </li>
      <li>Intros check for who follows user2 that user1 also follows. In other
      words, people that can intro user1 to user2. </li>
      <li>Common following finds people both user1 and user2 follow.</li>
      <li> Aremutuals check for whether user1 and user2 followe each other.</li>
      <li> Isfollowing checks for whether user1 is following user2.</li>
    </ul>

      {{ wtf.quick_form(form) }}

      <p class="pt-5"><strong>{{ message }}</strong></p>

    </div>
  </div>
</div>

{% endblock %}