{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
    <style>

        body { background: #e8f1f9; }

          p {
            /* Center horizontally*/
            text-align: center;
          }
          div.container4 {
              height: 10em;
              position: relative }
          div.container4 p {
              margin: 0;
              position: absolute;
              top: 50%;
              left: 50%;
              margin-right: -50%;
              transform: translate(-50%, -50%) }
              html, body {
                height: 100%;
              }

              html {
                  display: table;
                  margin: auto;
              }

              body {
                  display: table-cell;
                  vertical-align: middle;
              }
              </style>
{% endblock %}


{% block title %}
Mutuals for 2 farcaster users
{% endblock %}


{% block content %}


<div class="container4">
<img src = "https://searchcaster.xyz/_next/image?url=%2Fimg%2Flogo.png&w=48&q=75">
<h1>Farcaster Mutuals</h1></div>

    <ul>
      <li> Leave user2 blank for I'm feeling lucky. 
        I'm feeling lucky finds all the users user1 should follow
      based on their existing following and mutuals. It's ranked by 
      a log score of mutuals and their mutuals, weighting 
      repeat mutuals more heavily than followers (modfied
      version of pageRank). </li>
      <li>Mutuals find mutuals between user1 and user2. </li>
      <li>Intros check for who follows user2 that user1 also follows. In other
      words, people that can intro user1 to user2. </li>
      <li>Common following finds people both user1 and user2 follow.</li>
      <li> People to folow find users user1 follows that user2 doesn't.</li>
      <li> Aremutuals check for whether user1 and user2 followe each other.</li>
      <li> Isfollowing checks for whether user1 is following user2.</li>
    </ul>

      {{ wtf.quick_form(form) }}

      <p class="pt-5"><strong>{{ message }}</strong></p>
       <p class="pt-5"><strong>It may take a while for the I'm feeling lucky results to load. Do not fret.</strong></p>

</div>

{% endblock %}